
* {
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}

body { 
  background-image: url(psycho-head-bw.jpg);
  background-position: center;
  background-repeat: cover;
}
 
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 100%;
}

.js-results {
	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
}

input {
	font-size: 1.2em;
	background-color: rgba(255, 171, 61, 0.8);
	border: solid 2px white;
	border-radius: 5px;
	color: black;
	padding: 4px 40px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

input:not([type="radio"]):hover {
	color: black;
	background-color: cyan;
	font-size: 1.2em;
}

input:focus {
    border: solid 5px cyan;
  }

.heading {
	font-weight: 500;
	font-size: 1.2em;
	color: black;
	text-align: center;
	border: solid 5px black;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	background-color: rgba(255, 171, 61, 0.8);
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  color: white;
  font-size: 1.2em;
}

li:nth-child(2) {
  margin-left: 10%;
}

fieldset {
  border: none;
}

.message {
	font-weight: 500;
	font-size: 1.5em;
	text-align: center;

	color: black;
	background-color:rgba(255, 171, 61, 0.8);

	border: solid 5px black;
	border-radius: 5px;

	margin: 10px;
	padding: 15px 15px;
	min-width: 60%;
	
}

.choice {
  border: 2px solid orange;
  background-color: rgba(88,81,241, 0.8);
  font-size: 1.2em;
  color: white;
  padding: 8px;
  margin: 5px;
}

.choice:hover {
	background-color: cyan;
	color: black;
	cursor: pointer;
}

/* TABLET MEDIA-VIEW */
@media(min-width: 600px) {

  header{
    width:100%;
  }

  .logo {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

 .logo img{
    width: 200px;
    height: 200px;
  }

  ul{
    margin-top: 0;
  }

  li {
    font-size: 1.5em;
    background-color: rgba(0,0,0, 0.5);
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 auto;
  }

  main{
    width: 70%;
  }

  .heading, .message {
    width: 100%;
    font-size: 2em;
    padding: 15px;
  }

  input {
    font-size: 1.5em;
  }

    input[type=radio] { /* interesting method to increase size of radio buttons*/
    border: 0px;
    width: 10%;
    height: .55em;
  }

    input:not([type="radio"]):hover {
    color: black;
    background-color: cyan;
    font-size: 1.5em;
  }

  .choice {
    font-size: 1.5em;
    padding: 8px;
    margin: 10px;
  }

}

/* WIDE MEDIA-VIEW */
@media(min-width: 1200px) {


  li {
    font-size: 1.5em;
  }

